/* 1. exercice-flex */
.exercice-flex .container {
  display: flex;
}

/* 2. exercice-justify-1 */
.exercice-justify-1 .container {
  display: flex;
  justify-content: flex-end;
}

/* 3. exercice-justify-2 */
.exercice-justify-2 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 4. exercice-justify-3 */
.exercice-justify-3 .container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
}
/* 5. exercice-align-1 */
.exercice-align-1 .container {
  display: flex;
  flex-direction:row;
  align-items:flex-end;
  

}

  


/* 6. exercice-align-2 */
.exercice-align-2 .container {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: ;
}


/* 7. exercice-align-3 */
.exercice-align-3 .container {
  display: flex;
}

/* 8. exercice-all-1 */
.exercice-all-1 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: baseline;
  align-items: center;
}


/* 9. exercice-all-2 */

